@import (reference) "../styles/variables.less";

.footer {
  text-align: center;
  color: #737373;
}

.footer__link {
  color: #737373;
  transition: color 0.3s ease;
}

.footer__link:hover, .footer__link:focus {
  color: @brand-color;
}
